<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h2>Edit the Listing</h2>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" 
             class="needs-validation" novalidate enctype="multipart/form-data"> 
            <div class="mb-0">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" 
                        class="form-control" placeholder="Enter Title of Listing" required/>
                <div class="invalid-feedback">Please enter valid title.</div><br>
            </div>
            <div class="mb-1">
                <label for="description" class="form-label">Description:</label>
                <textarea name="listing[description]" id="description" class="form-control" 
                        rows="5" cols="30" placeholder="Give brief Description" required>
                    <%= listing.description %>
                </textarea>
                <div class="invalid-feedback">Please enter valid description.</div><br>
            </div>
            <div class="mb-2">
                <p>Original Image is :</p>
                <img src="<%= showImageUrl %>"/>
            </div>
            <div class="mb-1">
                <label for="imageurl" class="form-label">ImageUrl:</label>
                <input type="file" id="imageurl" name="listing[image]" class="form-control" placeholder="Enter image url of Listing"/>
                <br>
            </div>
            <div class="row">
                <div class="mb-1 col-md-4">
                    <label for="price" class="form-label">Price:</label>
                    <input  id="price" name="listing[price]" value="<%= listing.price %>" 
                            class="form-control" placeholder="Enter Price of Listing" required/>
                    <div class="invalid-feedback">Please enter valid price.</div><br>
                </div>
            
                <div class="mb-1 col-md-8">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" 
                            class="form-control" placeholder="Enter country of Listing" required/>
                    <div class="invalid-feedback">Please enter valid country.</div><br>
                </div>
            </div>
            <div class="mb-1">
                <label for="location" class="form-label">location:</label>
                <input type="text" id="location" name="listing[location]" class="form-control" 
                        value="<%= listing.location %>" placeholder="Enter location of Listing" required/>
                <div class="invalid-feedback">Please enter valid location.</div><br>
            </div>
            <button class="btn btn-danger mb-3">Edit</button>
        </form>
    </div>
</div>

<script src="/js/script.js"></script>
